@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-SemiBold.woff2') format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Black.woff2') format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mulish Bold";
    src: url('../fonts/Mulish-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Mulish ExtraBold";
    src: url('../fonts/Mulish-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoCondensed-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('fonts/MinionPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    height: 100%;
    /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
    /* scrollbar-gutter: stable; */
    /**
    Плавный скролл
   */
    scroll-behavior: smooth;
}

body {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    min-height: 100%;
    /**
    Унифицированный интерлиньяж
   */
    line-height: 1.5;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
    cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
    -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"],
        [fill^="url"])) {
    fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"],
        [stroke^="url"])) {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --fonts-color: #737b7d;
    --page-color: #06255B;
    --color-white: #ffffff;
    --page-second-color: #F7F9FC;
    --second-color: #da5d24;
    --hover-color: #BA4E1D;
    --active-color: #9b3608;

    --container-width: 1728px;

    --font-family: "Source Sans Pro", sans-serif;
    --second-family: "Mulish", sans-serif;
    --third-family: "Roboto", sans-serif;
    --font3: "MinionPro", sans-serif;
    --font-size: 18px;
    --font-weight: 400;

    --margin: 140px;
    --padding: 50px;
    --item-side-size: clamp(180px, 15.33vw, 265px);
    --height-container: clamp(890px, 65.277vw, 1128px);

    --transition-duration: .2s;

    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.15;
    font-weight: var(--font-weight);
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: var(--fonts-color);
    background-color: rgb(48, 20, 159);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

button {
    border: none;
    padding: 0;
    outline: 0;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}

a {
    text-decoration: none;
}

p {
    margin-block: 0;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.container {
    margin: 0 auto;
    padding: 0 145px;
    max-width: var(--container-width);
    width: 100%;
    height: 100%;
    outline: 0;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-weight: 700;
    color: var(--color-light); */
}

.button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 1.2%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button:focus,
.button:hover {
    background-color: var(--hover-color);
}

.contact-btn {
    padding: 18px 35px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: .02em;
    color: #fff;
    background-color: var(--second-color);
    transition: background-color .2s linear;
    white-space: nowrap;
}

.button--white {
    background-color: var(--color-white);
    color: var(--page-color);
    padding-block: 16px;
}

.button--white:hover {
    background-color: #abb5c7;
    color: var(--color-white);
}

.button--transparent {
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.flex-space {
    display: flex;
    align-items: center;
}

.overlay {
    position: fixed;
    inset: 0;
    will-change: transform;
    transition: .3s cubic-bezier(.215, .61, .355, 1);
    z-index: 100;
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, .5);
    transition: .5s;
    display: none;
}

.page-body__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* background-image: linear-gradient(45deg, var(--page-color) 6%, var(--page-second-color) 6%, var(--page-second-color) 30.7%, #fff 30.7%, #fff 49.6%, var(--page-second-color) 49.6%, var(--page-second-color) 62.3%); */
}

/* header */

.header {
    position: absolute;
    z-index: 5;
    padding: 49px 0 35px;
    width: 100%;
    top: 0;
    left: 0;
}

.header__nav-link {
    color: var(--color-white);
    font-size: 15px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header__nav-list {
    display: flex;
    column-gap: 32px;
}

.header__action {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-right: -145px;
    font-size: 15px;
}

.lang {
    display: flex;
    gap: 12px;
    height: auto;
    padding: 17px 18px;
    background-color: var(--color-white);
}

.header__lang-btn {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.header__lang-btn:hover .lang__name,
.header__lang-btn:active .lang__name {
    opacity: 1;
    text-decoration: underline;
}

.lang__name {
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--page-color);
    opacity: 0.5;
    transition: opacity .2s linear;
}

/* hero */
.hero {
    position: relative;
    padding: 278px 0 340px;
    background:
        linear-gradient(180deg, #06255b 0, rgba(6, 37, 91, 0) 50%),
        linear-gradient(90deg, #06255b 0, rgba(6, 37, 91, 0) 50%),
        url("../images/main-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero__content {
    max-width: clamp(33.875rem, 25.921vw + 17.286rem, 45.313rem);
    width: 100%;
    color: var(--color-white);
}

.hero__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(3rem, 1.5496rem + 2.2663vw, 4rem);
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #f7f7f7;
    margin-bottom: 24px;
}

.hero__title strong {
    font-weight: 700;
}

.hero__descr-wrapper {
    max-width: 623px;
    width: 100%;
    margin-bottom: 40px;
}

.hero__descr {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.1;
    color: var(--color-white);
}

.hero__descr:not(:last-child) {
    margin-bottom: 28px;
}

.hero__actions {
    display: flex;
    column-gap: 16px;
}

.hero__actions-button {
    padding-inline: 18px;
}

